{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-twin", { "debug": true }],
    "babel-plugin-macros"
  ]
}
