{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "tailwind-components", {
        "config": "../../tailwind.js",
        "format": "auto"
      }
    ]
  ]
}
